$colors: (
  primary-bg: rgb(13 17 22),
  thumb-inactive: rgb(255 255 255 / 60%),
  thumb-active: rgb(255 255 255),
  shadow-color: rgba(0, 0, 0, 0.4)
);

$thumb-animation: thumb 60s forwards linear;

$mirror-dimensions: (
  height: 779px,
  width:438px
);

$slide-dimensions: (
  max-width: 438px,
);

body {
  background: map-get($colors, primary-bg);
}

.mirror-wrapper {
  position: relative;
  display: block;
  margin: auto;
  height: map-get($mirror-dimensions, height);
  width: map-get($mirror-dimensions, width);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;

  .slide {
    box-shadow: 0 4px 20px 2px map-get($colors, shadow-color);
    max-width: map-get($slide-dimensions, max-width);
    display: grid;
    height: auto;
    margin: auto;
    border-radius: 16px;
    overflow: hidden;

    .slide-items {
      position: relative;
      grid-area: 1/1;
      z-index: -1;

      > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;

        // New video styles
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: none;
        }

        // Maintains image compatibility
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: none;
        }

        &.active {
          position: relative;
          opacity: 1;
          pointer-events: initial;

          video, img {
            display: block;
          }
        }
      }
    }

    .slide-nav {
      grid-area: 1/1;
      z-index: 1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;

      .slide-next {
        justify-content: flex-end;
      }

      button {
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background: transparent;
        border: none;
        display: flex;
        align-items: center;
        margin-left: 8px;
        cursor: pointer;
        opacity: 0;
        transition: all .2s ease-in-out;

        .slide-next__icon {
          transform: rotate(180deg);
        }

        .slide-prev__icon,
        .slide-next__icon {
          width: 40px;
        }

      }

      &:hover {
        button {
          opacity: 1;
        }
      }
    }

    .slide-thumb {
      display: flex;
      grid-column: 1 / 3;
      padding: 8px;

      > span {
        flex: 1;
        display: block;
        height: 4px;
        background: map-get($colors, thumb-inactive);
        margin: 4px;
        border-radius: 4px;
        overflow: hidden;

        &.active::after {
          content: '';
          display: block;
          height: inherit;
          background: map-get($colors, thumb-active);
          border-radius: 3px;
          transform: translateX(-100%);
          animation: $thumb-animation;
        }
      }
    }
  }
}

@keyframes thumb {
  to {
    transform: initial;
  }
}